
.slides{
    display:flex;
    width:400%;
    animation:slide 15s infinite;
}
.slides img{
    width:25.00%;
    height:450px;
    object-fit:cover;
    overflow-clip-margin: unset;
}

@keyframes slide{

    /* ----------- Photo 1 ----------- */
    0%   , 20% { transform:translateX(0); }          /* pause 0 → 20 % */

    /* 1 → 2 – transition (2 % of the timeline) */
    21%          { transform:translateX(-25%); }    /* midway of transition */
    22%          { transform:translateX(-25%); }    /* end of transition */

    /* ----------- Photo 2 ----------- */
    22% , 42% { transform:translateX(-25%); }       /* pause 22 → 42 % */

    /* 2 → 3 – transition */
    43%          { transform:translateX(-50%); }
    44%          { transform:translateX(-50%); }

    /* ----------- Photo 3 ----------- */
    44% , 64% { transform:translateX(-50%); }       /* pause 44 → 64 % */

    /* 3 → 4 – transition */
    65%          { transform:translateX(-75%); }
    66%          { transform:translateX(-75%); }

    /* ----------- Photo 4 ----------- */
    66% , 86% { transform:translateX(-75%); }       /* pause 66 → 86 % */

    /* 4 → 1 – transition back to start */
    87%          { transform:translateX(0); }       /* start of the final jump */
    100%         { transform:translateX(0); }       /* keep it at 0 % until the loop restarts */
}
/* 6.5  Adaptation mobile – empile les blocs sous 768 px */
@media (max-width:768px){

    .group-row{
        flex-direction:column;   /* passe en pile */
    }
    .group-row > .group-presentation,
    .group-row > .group-gallery{
        flex-basis:100%;          /* chaque bloc prend toute la largeur */
    }
    .slides img{
        height:250px;

}
}

#artist-filter-music{
    visibility: hidden;
}



