
.slides{
    display:flex;
    width:200%;
    animation:slide 12s infinite;
}
.slides img{
    width:50%;
    height:450px;
    object-fit:cover;
    overflow-clip-margin: unset;
}

/* ---------- ANIMATION ---------- */
@keyframes slide {
    /* 0 % → 40 % : première image affichée (pause) */
    0%   { transform: translateX(0); }
    40%  { transform: translateX(0); }

    /* 40 % → 45 % : transition douce vers la 2ᵉ image */
    45%  { transform: translateX(-50%); }   /* point médian de la transition */

    /* 45 % → 90 % : deuxième image affichée (pause) */
    90%  { transform: translateX(-50%); }

    /* 90 % → 100 % : retour à la première image */
    100% { transform: translateX(0); }
}
/* 6.5  Adaptation mobile – empile les blocs sous 768 px */
@media (max-width:768px){

    .group-row{
        flex-direction:column;   /* passe en pile */
    }
    .group-row > .group-presentation,
    .group-row > .group-gallery{
        flex-basis:100%;          /* chaque bloc prend toute la largeur */
    }
    .slides img{
        height:250px;
}
}

#artist-filter-music{
    visibility: hidden;
}